/* Colors
Background light pink fbc1c9
Nav bar background 333333
Nav bar orange fd6326
Others yellow fede24
Others golden d8c508 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbc1c9;
}

/* Navigation bar */
.content-wrap {
    width: 80%;
    margin: 0 auto;
}

.content-wrap ul {
    list-style-type: none;
    margin-top: 2%;
}

.content-wrap ul li {
    background-color: #262626;
    width: 160px;
    border: 1px solid white;
    height: 56px;
    float: left;
    position: relative;
    color: white;
    text-align: center;
    line-height: 56px;
}

.content-wrap ul li:hover {
    background-color: crimson;
}

.content-wrap ul ul {
    /* display: none; */
    postion: absolute;
}

.content-wrap ul li:hover>ul {
    display: block;
}