/* COLOR PALETTES
Charcoal: #424B54
Turquoise: #2FE6DE
Blush: #EA638C
Lavender blush: #FFE9F3
Black bean: #3C0000 */


/* _____Global_____ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* Got this bgcolor from https: //instaprice.app/?ref=onepagelove */
    background-color: #242625;
}

p,
.bottomColorBarsText {
    font-family: 'Source Sans Pro', Verdana, sans-serif;
}

h1,
h2 {
    margin: 0;
    font-family: 'Spectral', Georgia, serif;
}

/* _____Header_____ */
header {
    width: 80%;
    /* height: 120px; */
    border: 2px solid #D800A6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 16px;
    margin: 40px auto 40px;
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
}

header h1 {
    border-radius: 8px;
    background-color: #D800A6;
    padding: 8px 0;
}


/* _____Main body_____ */
.mainWrap {
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: #212121;
    border-radius: 16px;
    overflow: hidden;
    color: #31e1f7;
    padding-left: 24px;
    padding-top: 24px;
}

main p:nth-child(1) {
    margin-top: 0;
}

/* THE TYPEWRITER ANIMAITON */
/* Source: https: //css-tricks.com/snippets/css/typewriter-effect/ */
main p:nth-child(3) {
    width: 33ch;
    /* Ensures the content is not revealed until the animation */
    overflow: hidden;
    /* The typwriter cursor */
    border-right: .15em solid #31e1f7;
    /* Keeps the content on a single line */
    white-space: nowrap;
    animation:
        typing 3.5s steps(60, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 33ch
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #31e1f7;
    }
}

/* _____Footer_____ */

/* The overflow-mask is a frame or a mask, and it allows the trays to slide in and out of this frame */
.overflow-mask {
    width: 100vw;
    height: 100vh;
    /* background-color: yellowgreen; */
    /* border: 2px solid white; */
    position: fixed;
    top: 0;
    overflow: hidden;
}

.trayDesignTop {
    /* background-color: #FF7777; */
    /* background-color: rgba(255, 119, 119, 1); */
    backdrop-filter: blur(10px);
}

.trayContainerTop {
    width: 100%;
    height: 625px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 75vh;
    /* This is the transition for mouse-out or not hovering */
    animation-name: trayAnimationUp;
    animation-duration: .3s;
    animation-timing-function: ease-out;
}

@keyframes trayAnimationUp {
    from {
        top: 25vh;
    }

    to {
        top: 75vh;
    }
}

/* This is the transition for mouse-in or hover */
.hoverTransitionTopContainer:hover,
.hoverTransitionTopContainer:focus {
    animation-name: trayAnimationDown;
    animation-fill-mode: forwards;
}

@keyframes trayAnimationDown {
    from {
        top: 75vh;
    }

    to {
        top: 25vh;
    }
}

.trayTitle {
    height: 50px;
    color: white;
    padding-left: 32px;
    padding-top: 8px;
    font-size: large;
    text-shadow: 1px 1px 1px black;
    border: 2px solid blue;
    flex: 0 0 100%;
}

.trayBody {
    height: 575px;
    border: 2px solid lime;
    flex: 1 1 auto;
}

/* _____MEDIA queries_____ */
/* @media screen and (max-width: 428px) {
    .main-explore {
        font-size: 20vw;
    }

    .main-the {
        font-size: 20vw;
    }

    .main-possibilities {
        font-size: 20vw;
    }
} */