/* COLOR PALETTE
Background - Not Pure Black - #242625
Background - Lighter Black - #212121
Pink - #D800A6
Cyan - #31e1f7 */

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    font-family: 'Caveat', cursive;
    color: #404348;
    text-shadow: 1px 1px 0 black;
    margin: 8px 0;
}

header h2 {
    padding-bottom: 8px;
    margin: 8px 0;
}


header h2:first-of-type,
header h2:nth-child(3) {
    border-bottom: 2px solid #FC1577;
}

header span {
    background-color: #FFC107;
    color: #242625;
}

body {
    background-color: #242625;
    color: white;
    width: 90vw;
    margin: 0 auto;
}

main {
    /* background-color: #efecec; */
    background-color: #404348;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #EFECEC;
    border-radius: 8px;
    padding: 8px 16px;
}

.joke p {
    margin-top: 8px;
}

footer h3 {
    color: #FC1577;
}